@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //* 10px/16px = 62.5% -> 1rem = 10px
}

body {
  font-family: Roboto, sans;
}

