@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/*
Primary
Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)
*/
/*
Dark Blue (main background): hsl(218, 28%, 13%)
*/
/*
Dark Blue (footer background): hsl(216, 53%, 9%)
*/
/*
Dark Blue (testimonials background): hsl(219, 30%, 18%)
*/
/*
Accent
Cyan (inside call-to-action gradient): hsl(176, 68%, 64%)
*/
/*
Blue (inside call-to-action gradient): hsl(198, 60%, 50%)
*/
/*
Neutral
White: hsl(0, 0%, 100%)
*/
/* --------------------- Typography ---------------------
Body Copy
*/
/*
Headings, Call-to-actions, Header Navigation
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  background: #181f2a; }

.header,
.navigation {
  background: #1c2231; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem; }
  @media (max-width: 650px) {
    .navigation {
      padding: 1rem 1rem 5rem 1rem; } }
  @media (max-width: 650px) {
    .navigation__logo {
      width: 10rem;
      height: 3rem; } }
  .navigation__links--1, .navigation__links--2, .navigation__links--3 {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    margin: 0 2rem; }
    @media (max-width: 650px) {
      .navigation__links--1, .navigation__links--2, .navigation__links--3 {
        margin: 0 1rem;
        font-size: 1.5rem; } }

.header {
  height: 100vh;
  background-image: url("../../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 25rem; }
  .header__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .header__info--illustration {
      margin-top: -5rem;
      max-height: 40rem;
      max-width: 100%; }
      @media (max-width: 650px) {
        .header__info--illustration {
          margin-top: 0;
          max-width: 85%; } }
    .header__info--heading {
      font-size: 3rem;
      font-weight: 700;
      margin-top: 2rem; }
    .header__info--paragraph {
      font-size: 1.3rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem; }
    .header__info--heading, .header__info--paragraph, .header__info--btn {
      color: white;
      font-family: "Raleway"; }
    .header__info--btn {
      text-decoration: none;
      background: linear-gradient(#65e2d9, #339ecc);
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      border: none;
      padding: 1.5rem 8.5rem;
      border-radius: 3rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  max-width: 75%;
  margin: 0 auto;
  grid-row-gap: 5rem;
  grid-column-gap: 30rem; }
  .services .service {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 2rem; }
    .services .service__img {
      width: 7rem;
      height: 7rem; }
    .services .service__heading {
      color: white;
      font-family: "Raleway";
      font-size: 2rem;
      margin-top: 1.5rem;
      font-weight: 700; }
    .services .service__paragraph {
      color: white;
      font-size: 1.2rem; }

.messages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 3.5rem;
  grid-row-gap: 3.5rem;
  max-width: 70%;
  align-items: center;
  margin: 15rem auto; }
  @media (max-width: 650px) {
    .messages {
      margin: 15rem 0rem 15rem 5rem; } }
  .messages__illustration {
    max-width: 100%;
    justify-self: center; }
    @media (max-width: 800px) {
      .messages__illustration {
        max-width: 90%; } }
  .messages__information--heading {
    color: white;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 3.5rem; }
  .messages__information--paragraph {
    margin-top: 1rem;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 1.5rem; }
  .messages__information--btn {
    padding-bottom: 3px;
    border-bottom: 1px solid #65e2d9;
    font-family: "Raleway";
    text-decoration: none;
    font-size: 1.4rem;
    color: #65e2d9; }

.quotes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  max-width: 70%;
  margin: 0 auto; }
  @media (max-width: 650px) {
    .quotes {
      max-width: 90%; } }
  .quotes .quote {
    background-color: #202a3c;
    padding: 2rem; }
    .quotes .quote__paragraph {
      color: white;
      font-size: 1.4rem; }
    .quotes .quote__footer {
      display: flex;
      margin-top: 1.5rem; }
      .quotes .quote__footer--img {
        border-radius: 50%;
        width: 5rem;
        height: 5rem; }
      .quotes .quote__footer__text {
        margin: 5px; }
        .quotes .quote__footer__text--primary {
          color: white;
          margin-bottom: 3px; }
        .quotes .quote__footer__text--secondary {
          color: #eee; }

.subscription {
  background-color: #1c2431;
  display: flex;
  max-width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15rem auto;
  margin-bottom: -11.5rem;
  position: relative;
  z-index: 200;
  padding: 5rem 10rem; }
  @media (max-width: 1285px) {
    .subscription {
      max-width: 75%;
      padding: 5rem 7rem; } }
  @media (max-width: 800px) {
    .subscription {
      max-width: 90%;
      padding: 5rem 5rem; } }
  .subscription__heading {
    font-family: "Raleway";
    font-weight: 700;
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .subscription__paragraph {
    color: white;
    font-size: 1.2rem;
    text-align: center; }
  .subscription__cta {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .subscription__cta--input {
      flex-grow: 1;
      padding: 1rem 2.5rem;
      font-size: 1.5rem;
      border-radius: 3rem;
      outline: none;
      border: none;
      margin-right: 1.5rem; }
      @media (max-width: 650px) {
        .subscription__cta--input {
          margin-right: 0;
          padding: 1.5rem 2.5rem;
          margin-bottom: 1.5rem; } }
    .subscription__cta--btn {
      text-decoration: none;
      background: linear-gradient(#65e2d9, #339ecc);
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      padding: 1rem 2.5rem;
      border-radius: 3rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); }
      @media (max-width: 650px) {
        .subscription__cta--btn {
          flex-grow: 1;
          padding: 1.5rem 2.5rem;
          text-align: center;
          margin-bottom: 1rem; } }

footer {
  background-color: #0b1523;
  height: 100%;
  padding: 20rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 0; }
  footer .footer {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 90%; }
    @media (max-width: 450px) {
      footer .footer {
        flex-direction: column; } }
    footer .footer__location, footer .footer__contact, footer .footer__links {
      margin-right: 5%; }
    footer .footer__location {
      margin-top: 2rem;
      display: flex;
      align-items: flex-start;
      font-size: 1.5rem;
      width: 30%;
      color: white;
      margin-bottom: 2rem; }
      @media (max-width: 600px) {
        footer .footer__location {
          width: 100%; } }
      footer .footer__location--icon {
        margin-right: 1rem; }
    footer .footer__contact {
      margin-bottom: 2rem; }
      footer .footer__contact__phone, footer .footer__contact__email {
        display: flex;
        margin: 2rem 0;
        margin-bottom: 2rem;
        align-items: flex-start;
        font-size: 1.5rem;
        color: white; }
        footer .footer__contact__phone--icon, footer .footer__contact__email--icon {
          margin-right: 1rem; }
    footer .footer__links {
      margin-bottom: 2rem; }
      footer .footer__links a {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        margin: 1.5rem;
        margin-top: 0; }
    @media (max-width: 450px) {
      footer .footer__socialmedias {
        align-self: center; } }
    footer .footer__socialmedias a {
      text-decoration: none;
      outline: none; }
      footer .footer__socialmedias a i {
        color: white;
        font-size: 3.5rem;
        margin-right: 1rem; }
