*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //* 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $bodyFontFamily, sans-serif;
    background: $mainBgBlue;
}

.header,
.navigation {
    background: hsl(222, 27%, 15%);
}