.header {
    height: 100vh;
    background-image: url('../../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 25rem;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &--illustration {
            margin-top: -5rem;
            max-height: 40rem;
            max-width: 100%;

            @media (max-width: 650px) {
                margin-top: 0;
                max-width: 85%;
            }
        }

        &--heading {
            font-size: 3rem;
            font-weight: $ctaFontWeightBold;
            margin-top: 2rem;
        }

        &--paragraph {
            font-size: $bodyFontSize;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

        &--btn {
            padding: 1.5rem 8.5rem;
            font-size: 1.5rem;
        }

        &--heading,
        &--paragraph,
        &--btn {
            color: $neutralWhite;
            font-family: $ctaFontFamily;
            font-weight: $ctaFontWeightBold;
        }

    }

}