.header {
    height: 100vh;
    background-image: url('../../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    // background-size: cover;
    // background-position: -50rem 30rem;
    background-size: cover;
    background-position: center 25rem;

    // @media screen and only (max-width: 38.5rem) {
    //     background-image: url('../../images/bg-curvy-mobile.svg')
    // }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &--illustration {
            margin-top: -5rem;
            max-height: 40rem;
            max-width: 100%;

            @media (max-width: 650px) {
                margin-top: 0;
                max-width: 85%;
            }
        }

        &--heading {
            font-size: 3rem;
            font-weight: $ctaFontWeightBold;
            margin-top: 2rem;
        }

        &--paragraph {
            font-size: 1.3rem;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

        &--heading,
        &--paragraph,
        &--btn {
            color: $neutralWhite;
            font-family: $ctaFontFamily;
        }

        &--btn {
            text-decoration: none;
            background: linear-gradient($ctaCyanGradient, $ctaBlueGradient);
            font-size: 1.5rem;
            font-weight: $ctaFontWeightBold;
            color: $neutralWhite;
            border: none;
            padding: 1.5rem 8.5rem;
            border-radius: 3rem;
            box-shadow: 0 2px 6px hsla(0, 0, 0, 0.2);
        }
    }

}