.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 75%;
    margin: 0 auto;
    grid-row-gap: 5rem;
    grid-column-gap: 30rem;

    .service {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding: 2rem;

        &__img {
            width: 7rem;
            height: 7rem;
        }

        &__heading {
            color: $neutralWhite;
            font-family: $ctaFontFamily;
            font-size: 2rem;
            margin-top: 1.5rem;
            font-weight: $ctaFontWeightBold;
        }

        &__paragraph {
            color: $neutralWhite;
            font-size: 1.2rem;
        }
    }
}

.messages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 3.5rem;
    grid-row-gap: 3.5rem;
    max-width: 70%;
    align-items: center;
    margin: 15rem auto;

    @media(max-width:650px) {
        margin: 15rem 0rem 15rem 5rem;
    }

    &__illustration {
        max-width: 100%;
        justify-self: center;

        @media(max-width: 800px) {
            max-width: 90%;
        }
    }

    &__information {
        &--heading {
            color: $neutralWhite;
            font-family: $ctaFontFamily;
            font-weight: $ctaFontWeightBold;
            font-size: 3.5rem;
        }

        &--paragraph {
            margin-top: 1rem;
            color: $neutralWhite;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
        }

        &--btn {
            padding-bottom: 3px;
            border-bottom: 1px solid $ctaCyanGradient;
            font-family: $ctaFontFamily;
            text-decoration: none;
            font-size: 1.4rem;
            color: $ctaCyanGradient;
        }
    }
}

.quotes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: 650px) {
        max-width: 90%;
    }

    .quote {
        background-color: $testimonialsBlue;
        padding: 2rem;

        &__paragraph {
            color: $neutralWhite;
            font-size: 1.4rem;
        }

        &__footer {
            display: flex;
            margin-top: 1.5rem;

            &--img {
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
            }

            &__text {
                margin: 5px;

                &--primary {
                    color: $neutralWhite;
                    margin-bottom: 3px;
                }

                &--secondary {
                    color: #eee;
                }
            }
        }

    }
}

.subscription {
    background-color: $emailSignUpBlue;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 15rem auto;
    margin-bottom: -11.5rem;
    position: relative;
    z-index: 200;
    padding: 5rem 10rem;

    @media (max-width: 1285px) {
        max-width: 75%;
        padding: 5rem 7rem;
    }

    @media (max-width: 800px) {
        max-width: 90%;
        padding: 5rem 5rem;
    }

    &__heading {
        font-family: $ctaFontFamily;
        font-weight: $ctaFontWeightBold;
        color: $neutralWhite;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    &__paragraph {
        color: $neutralWhite;
        font-size: 1.2rem;
        text-align: center;
    }

    &__cta {
        margin-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &--input {
            flex-grow: 1;
            padding: 1rem 2.5rem;
            font-size: 1.5rem;
            border-radius: 3rem;
            outline: none;
            border: none;
            margin-right: 1.5rem;

            @media (max-width: 650px) {
                margin-right: 0;
                padding: 1.5rem 2.5rem;
                margin-bottom: 1.5rem;
            }
        }

        &--btn {
            text-decoration: none;
            background: linear-gradient($ctaCyanGradient, $ctaBlueGradient);
            font-size: 1.5rem;
            font-weight: $ctaFontWeightBold;
            color: $neutralWhite;
            padding: 1rem 2.5rem;
            border-radius: 3rem;
            box-shadow: 0 2px 6px hsla(0, 0, 0, 0.2);

            @media (max-width: 650px) {
                flex-grow: 1;
                padding: 1.5rem 2.5rem;
                text-align: center;
                margin-bottom: 1rem;
            }

        }
    }
}