.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;

    @media (max-width: 650px) {
        padding: 1rem 1rem 5rem 1rem;
    }

    &__logo {
        @media (max-width: 650px) {
            width: 10rem;
            height: 3rem;
        }
    }

    &__links {

        &--1 {}

        &--2 {}

        &--3 {}

        &--1,
        &--2,
        &--3 {
            text-decoration: none;
            font-size: $bodyFontSize;
            color: $neutralWhite;
            margin: 0 2rem;

            @media (max-width: 650px) {
                margin: 0 1rem;
                font-size: 1.5rem;
            }
        }
    }
}