.btn {
    border: none;
    cursor: pointer;
    padding: 1.5rem 5rem;
    border-radius: 3rem;
    box-shadow: 0 2px 6px 0 hsla(0,0,0,0.2);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

  &:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }

  &:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
}